<mat-grid-list cols="3">
  <mat-grid-tile style="background-color: #bc4558; border-radius: 10px;" *ngFor="let crew of crews">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ crew.firstName }} {{ crew.lastName }}</mat-card-title>
        <button mat-fab [routerLink]="['/card',crew.id]"><mat-icon>person</mat-icon></button>
      </mat-card-header>
      <mat-card-content>
        <h1></h1>
        <p>{{'nationality'|translate}}: {{ crew.nationality }}</p>
        <p>{{'title'|translate}}: {{ crew.title }}</p>
        <p>{{'days-on-board'|translate}}: {{ crew.daysOnBoard }} </p>
        <p>{{'daily-rate'|translate}}: {{ crew.dailyRate }} </p>
        <p>{{'currency'|translate}}: {{ crew.currency }}</p>
        <p>{{'total-income'|translate}}: {{ totalIncome(crew.dailyRate,crew.daysOnBoard,crew.currency) }}</p>
        <button (click)="openEditCrewDialog(crew)" mat-raised-button color="primary">{{'edit'|translate}}</button>
        <button (click)="deletCrew(crew)" mat-raised-button color="warn">{{'delete'|translate}}</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<h1>{{'total-incomes'|translate}}: {{ allIncomesByCurrency() }}</h1>

<button class="add-button" (click)="openAddCrewDialog()" mat-raised-button color="primary">{{'add-crew'|translate}}</button>
