
<div *ngIf="crew">
  <mat-card>
    <mat-card-title>{{ crew.firstName }} {{ crew.lastName }}</mat-card-title>
    <mat-card-content>
      <p>{{'nationality'|translate}}: {{ crew.nationality }}</p>
      <p>{{'title'|translate}}: {{ crew.title }}</p>
      <p>{{'certificate'|translate}}:</p>
      <app-certificates [certificates] = "crew.certificates"></app-certificates>
      <p>{{'days-on-board'|translate}}: {{ crew.daysOnBoard }}</p>
      <p>{{'daily-rate'|translate}}: {{ crew.dailyRate }}</p>
      <p>{{'currency'|translate}}: {{ crew.currency }}</p>
      <p>{{'total-income'|translate}}: {{ (crew.dailyRate * crew.daysOnBoard) + crew.currency }}</p>
    </mat-card-content>
  </mat-card>

</div>


